                                   /* Footer seccion*/



.footer{
    position: absolute;
    top: 3744px;
    left: 0px;
    width: 1366px;
    height: 96px;
    background-color: #343434;
h6{
    color: #DCE1DA;
    position: relative;
    top: 38px;
    left: 101px;
    width: 195px;
    height: 21px;
}
img{
    position: absolute;
    left: 1179px;
    width: 86px;
    height: 20px;
    top: 38px;
}
}